.greetingForm {
    margin:31px 0 0 70px;
    height:372px;
}

.inputAndButtonContainer {
    display:flex;
    gap:10px;
    margin-top:10px;
}

.error {
    color:red;
    margin-top:10px;
}

.input {
    width:370px;
    height:36px;
    font-size:16px;
    padding:5px;
    font-family: "Montserrat", sans-serif;
    color:black;
    font-weight: 500;
}

.input:focus {
}

.errorInput {
    border:red 1px solid;
    width:370px;
    height:36px;
}

.button {
    height:35px;
    width:80px;
    background-color:#0066CC;
    color:white;
    border-radius:3px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;

}
.button::first-letter {
    text-transform: uppercase;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity:0.5;
}

.text {
}

.greeting {
    margin-top:5px;
}
