.select {
    width:165px;
    height:25px;
    padding-left:10px;
    font-family:'Montserrat', sans-serif;
    font-size:14px;
    text-transform: uppercase;
    border: 1px solid #C2C2C2
}

.select:focus {
}


.option:hover {
}
